.gradient {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0), rgba(255, 255, 255, 0),  #24282c69,  #24282c);
}
.bg-ldark{
    background-color: #24282c;
}

.fade-center-to-left {
    animation: fade-left-to-center 0.5s ease;
    right: 0;
    bottom: 0;
    overflow: hidden;
    
}

.fade-center-to-left:hover {
    animation: fade-center-to-left 0.5s ease;
    right:  20px;
    bottom:  20px;
    overflow: hidden;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

@keyframes fade-center-to-left {
    from {
        bottom: 0;
        right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    to {
        right:  20px;
        bottom:  20px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }
}

@keyframes fade-left-to-center {
    from {
        right:  20px;
        bottom:  20px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    to {
        bottom: 0;
        right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}


.fade-right-to-bottom-center {
    animation: fade-right-to-center-bottom 0.5s ease;
    left: 0;
    top: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.fade-right-to-bottom-center:hover {
    animation: fade-right-to-bottom-center 0.5s ease;
    left:  20px;
    top:  20px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

@keyframes fade-right-to-bottom-center {
    from {
        top: 0;
        left: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    to {
        left:  20px;
        top:  20px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
}

@keyframes fade-right-to-center-bottom {
    from {
        left:  20px;
        top:  20px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    to {
        top: 0;
        left: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.scale:hover{
    transform: scale(1.085);transition: transform 0.5s ease;
}
.scale{
    transform: scale(1);transition: transform 0.5s ease;
}

.section-container{
    width: 400px;
}

.profile-image{
    width: 350px;
    height: 350px;
}

.gradient-radial {
    background: radial-gradient(circle, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgb(32, 31, 31) ); 
 }

 .about-container{
    width: 600px;
 }
@media (max-width: 1200px) {
    .section-container{
        width: 400px;
    }

    .profile-image{
        width: 280px;
        height: 280px;
    }

    .about-container{
        width: 470px;
     }
}

@media (max-width: 960px) {
    .section-container{
        width: 450px;
    }
    .profile-image{
        width: 220px;
        height: 220px;
    }

    .about-container{
        width: 350px;
     }
}

@media (max-width: 720px) {
    .section-container{
        width: 500px;
    }

    .profile-image{
        width: 170px;
        height: 170px;
    }

    .about-container{
        width: 350px;
        font-size: small;
     }
}