.main-image1{
    width: 100vw;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-image-container{
    width: 100vw;
    height: 400px;
}


@media (max-width: 1200px) {
    .main-image1{
        width: 100vw;
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-image-container{
        width: 100vw;
        height: 350px;
    }
}

@media (max-width: 960px) {
    .main-image1{
        width: 100vw;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-image-container{
        width: 100vw;
        height: 300px;
    }
}

@media (max-width: 720px) {
    .main-image1{
        width: 100vw;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-image-container{
        width: 100vw;
        height: 250px;
    }
}